{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Ontologie Projet Transport </title>
    <link href="{% static "style.css"%}" rel="stylesheet" type="text/css" >
    <link rel="icon" type="image/png" href="{% static "img/truck.png"%}"/>

</head>
<body>
    <div class="header">

        <video autoplay loop class='back-video' muted plays-inline>
            <source src="{% static "img/video.mp4"%}" type="video/mp4">
        </video>


        <nav>
            <a class="logo" href={% url 'index' %}></a>
            <ul class="nav-links">
                <li><a href={% url 'index' %}>Accueil</a></li>
                <li><a href={% url 'contact' %}>Contact</a></li>
                <li><a href={% url 'faq' %}>QA</a></li>
            </ul>
        </nav>
        
        <div class="content">
            <h1>Welcome to Our Search Engine </h1>
            <form>
                <input type='text' placeholder="Type a keyword">
                <button type="submit">Find a Place</button> 
            </form>
        </div>
    </div>




</body>

</html>
